# Editors
.vscode/
.idea/
/*.iml

# Git things
# yarn cache
.yarn/cache
.yarn/ci-cache
# Node things
node_modules/
*.log*

# Build things
dist/
*.tgz
coverage/
*.xml
.awcache/
.eslintcache
*.tsbuildinfo

# OS
.DS_Store
